<h1>
	About me
</h1>

<p>
	You are a freelance developer with expertise in frontend and backend web development, and you enjoy freelancing.
	You have 1 year of experience in development and specialize in creating responsive designs. You can convert designs from tools like PSD, XD, AI, Zeplin, Sketch, and Figma into code using HTML, CSS, JavaScript, jQuery, and GSAP.
	You have skills in Angular, C#, PHP, MySQL, and you are actively learning and improving your skills in C# .NET.
	You are working on college projects, including implementing routing, and have repositories like form-app and WindowsFormsApp1 on GitHub.
	Your educational background is in Information Technology, and you hold a diploma in Software Engineering.
	You are also focused on learning English to improve your communication skills in writing, reading, and speaking.
	Aside from your freelance work, you own a laptop and mobile shop.

</p>