<h1> how are you????????????????</h1>
<p>
	Middlewares Folder

	Custom middleware components for the HTTP request pipeline.
	Helpers or Utils Folder

	Contains utility classes or helper functions.
	Interfaces Folder

	Defines interfaces for dependency injection and abstraction.
	Resources Folder

	Stores localization files for multilingual support.
</p>
